.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.board {
  height: 80vmin;
  width:80vmin;
  border: 1px dashed grey;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-grow: 1;
}

.square {
  flex-grow: 1;
  background-color: red;
}

.row:nth-child(odd) .square:nth-child(odd),
.row:nth-child(even) .square:nth-child(even){
  background-color: black;
}
